@import '_normalize';

@font-face {
  font-family: 'et-line';
  src: url("../node_modules/et-line/fonts/et-line.eot");
  src: url("../node_modules/et-line/fonts/et-line.svg") format("svg"),
  url("../node_modules/et-line/fonts/et-line.ttf") format("truetype"),
  url("../node_modules/et-line/fonts/et-line.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ElegantIcons';
  src: url('../node_modules/elegant-icons/fonts/ElegantIcons.eot');
  src: url('../node_modules/elegant-icons/fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
  url('../node_modules/elegant-icons/fonts/ElegantIcons.woff') format('woff'),
  url('../node_modules/elegant-icons/fonts/ElegantIcons.ttf') format('truetype'),
  url('../node_modules/elegant-icons/fonts/ElegantIcons.svg#ElegantIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'et-line';
//  src:url('fonts/et-line.eot');
//  src:url('fonts/et-line.eot?#iefix') format('embedded-opentype'),
//  url('fonts/et-line.woff') format('woff'),
//  url('fonts/et-line.ttf') format('truetype'),
//  url('fonts/et-line.svg#et-line') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
$text-font: 'Raleway', sans-serif;

$text-color: #fff;
$text-col-hover: #ef4836;
$text-icon-hover: #205eba;

$bg-c: #020407;

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  font: 300 1.6rem/1.8 $text-font;
  min-height: 100%;
  color: $text-color;
  background-color: $bg-c;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.container {
  width: 1170px;
  margin: 0 auto;
  @media screen and(max-width: 1185px) {
    width: 95%;
  }
  &--flex {
    display: flex;
    padding: 170px 0;
    justify-content: space-between;
    @media screen and(max-width: 768px) {
      flex-direction: column;
      padding: 50px 0;
    }
  }
  .nav {
    font-size: 0;
    padding: 2rem 0;
    transition: all 0.4s ease-in-out;
    &__logo {
      width: 35px;
      display: inline-block;
      vertical-align: middle;
      @media screen and(max-width: 576px) {
        display: none;
      }
      img {
        width: 100%;
      }
    }
    &__menu {
      padding: 0;
      width: calc(100% - 35px);
      font-size: 1.4rem;
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      font-weight: 600;
      @media screen and(max-width: 576px) {
        text-align: center;
      }
      &--list {
        display: inline-block;
        &:not(:last-child) {
          padding-right: 45px;
          @media screen and(max-width: 768px) {
            padding-right: 10px;
          }
        }
        a {
          text-transform: uppercase;
          text-decoration: none;
          display: inline-block;
          color: #ffffff;
          transition: all 0.4s ease-in-out;
          &:hover,
          &:focus,
          &:active {
            color: $text-col-hover;
          }
        }
        &.active a {
          color: $text-col-hover;
        }
      }
    }
  }
  &-bg {
    background-image: linear-gradient(#205eba 0%, transparent 200%), url(../img/overley-img.png);
    margin-top: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-bg2 {
    //background-color: #ef4836;
    background: rgba(239, 72, 54, 0.9);
    margin-top: 300px;
    margin-bottom: 160px;
  }
  .switchers {
    list-style-type: none;
    padding: 0;
    text-align: right;
    //margin-top: 50px;
    li {
      display: inline-block;
      a {
        color: #595959;
        font-size: 1.4rem;
        text-decoration: none;
        padding: 0 20px;
        font-weight: 500;
        transition: all 0.4s ease-in-out;
        &:hover,
        &:focus,
        &:active {
          color: #ffffff;
        }
      }
      &.active a {
        color: #ffffff;
      }
    }
  }
}

.section {
  //height: 100vh;
  &-bg {
    width: 100%;
    background: linear-gradient(to top, #020407 0%, #041121 50%, transparent 600%), url(../img/bg-i1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.content {
  display: flex;
  padding-top: 315px;
  //position: relative;
  &--position {
    padding-top: 0;
    align-items: center;
  }
  &--top {
    padding-top: 100px;
  }
  &__contact {
    width: 40%;
    overflow: hidden;
    background-image: linear-gradient(#205eba 0%, transparent 900%), url(../img/photo-woman.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px;
    @media screen and(max-width: 576px) {
      background-image: none;
      background-color: #205eba;
      padding: 70px 0;
    }
    h2 {
      line-height: 1;
      margin: 0 0 20px 0;
      font-size: 2rem;
      font-weight: 700;
    }
    span {
      display: block;
      font-size: 1.4rem;
      &:not(:last-of-type) {
        margin-bottom: 40px;
      }
    }
  }
  &__mail {
    width: 60%;
    background-color: #131313;
    padding: 55px;
    h2 {
      line-height: 1;
      font-size: 3rem;
      font-weight: 300;
      margin: 0;
      margin-bottom: 30px;
      position: relative;
      &:before {
        content: '';
        width: 90px;
        height: 1px;
        position: absolute;
        background: #ffffff;
        left: -120px;
        top: 15px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      width: 55%;
      @media screen and(max-width: 576px) {
        width: 70%;
      }
      input, textarea {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #2b2b2b;
        padding: 15px;
        resize: none;
        transition: all 0.4s ease-in-out;
        &:hover::placeholder,
        &:hover,
        &:focus::placeholder,
        &:focus,
        &:active {
          color: #205eba;
          border-color: #205eba;
        }
      }
      .submit {
        margin-top: 35px;
        &:after {
          left: 120px;
        }
      }
    }
  }
  &__img {
    width: 50%;
    height: 550px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    &--top {
      top: -150px;
      margin-right: 80px;
      @media screen and(max-width: 992px) {
        top: 0;
        margin-right: 0;
      }
    }
    &--left {
      position: absolute;
      width: 470px;
      margin-left: 85px;
      @media screen and(max-width: 768px) {
        width: 50%;
        margin-left: 0;
      }
    }
    &-here,
    &-play {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      &--pos {
        left: 35%;
        transform: translate(-35%, 0);
      }
      &--pos2 {
        //width: 50%;
        left: 30%;
        transform: translate(-30%, 0);
      }
    }

    &-play {
      top: 230px;
    }
  }
  &__text {
    width: 50%;
    margin: 0 100px 0 50px;
    position: relative;
    &:before {
      content: '';
      width: 90px;
      height: 1px;
      position: absolute;
      background: #ffffff;
      left: -100px;
      top: 20px;
    }
    &--style {
      font-weight: 300;
      font-style: italic;
      position: relative;
      margin-left: 52%;
      padding: 100px 0;
      @media screen and(max-width: 1185px) {
        margin-left: 60%;
      }
      @media screen and(max-width: 1024px) {
        margin-left: 70%;
      }
      @media screen and(max-width: 992px) {
        margin-left: 80%;
      }
      &:after {
        content: '"';
        position: absolute;
        left: -50px;
        top: 15px;;
        font-weight: 900;
        font-size: 15rem;
        color: #da3e2d;
        z-index: -1;
      }
      &:before {
        left: -120px;
        top: 110px;
      }
    }
    h1 {
      margin-top: -15px;
      margin-bottom: 40px;
      line-height: 1.3;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 4.8rem;
    }
    p {
      font-weight: 200;
      margin: 0 0 40px 0;
      @media screen and(max-width: 992px) {
        height: 200px;
        overflow: hidden;
      }
    }
  }
}

@media screen and(max-width: 576px) {
  .content__img {
    display: none;
  }
  .content__text {
    width: 90%;
  }
  .content__text--style {
    margin: 50px;
  }
}
.text {
  width: calc(100% / 3 - 65px);
  @media screen and(max-width: 768px) {
    width: auto;
  }
  &__name {
    font-size: 2.4rem;
    font-weight: 300;
    position: relative;
    padding-left: 60px;
    &:before {
      font-family: et-line;
      content: attr(data-icon);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  P {
    font-size: 1.4rem;
    font-weight: 200;
  }
}

.link {
  text-decoration: none;
  color: $text-color;
  font-weight: 700;
  font-size: 1.8rem;
  position: relative;
  transition: all 0.4s ease-in-out;
  &:after {
    font-family: 'ElegantIcons';
    content: attr(data-icon);
    position: absolute;
    left: 130px;
  }
  &:hover,
  &:focus {
    color: $text-col-hover;
  }
}

.images {
  font-size: 0;
  width: 100%;
  @media screen and(max-width: 992px) {
    padding: 0 15%;
  }
  //margin-top: 20px;
  .image-sizer {
    width: 0.5%;
  }
  .gutter-sizer {
    width: 0.5%;
  }
  &-image {
    width: 32%;
    overflow: hidden;
    margin: 5px 5px;
    &--width2 {
      width: 33%;
    }
    img {
      width: 100%;
    }
  }
}

.logs {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  &__list {
    display: inline-block;
    img {
      opacity: .3;
    }

  }
}

@media screen and(max-width: 768px) {
  .logs__list:not(:nth-last-child(1n+3)) {
    display: none;
  }
}
.footer {
  font-size: 0;
  padding: 2rem 0;
  @media screen and(max-width: 576px) {
    text-align: center;
  }
  &__logo {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    img {
      width: 100%;
    }
  }
  span {
    margin-left: 15px;
    font-size: 1.4rem;
    font-weight: 200;
    color: #565656;
    vertical-align: middle;
  }
  &__icons {
    padding: 0;
    width: calc(100% - 300px);
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-weight: 600;
    @media screen and(max-width: 576px) {
      width: auto;
    }
    &--list {
      display: inline-block;
      padding: 10px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding-right: 5px;
        color: #ffffff;
        transition: all 0.4s ease-in-out;
        &:hover,
        &:focus,
        &:active {
          color: $text-icon-hover;
        }
      }
      &.active a {
        color: $text-icon-hover;
      }
    }
    [data-icon]:before {
      font-family: 'ElegantIcons';
      content: attr(data-icon);
    }
  }
}



