@import '_normalize';

$text-font: 'Raleway', sans-serif;

$text-color: #fff;
$text-col-hover: #ef4836;

$bg-c: #020407;

* {
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  font: 300 1.6rem/1.8 $text-font;
  min-height: 100%;
  color: $text-color;
  background-color: $bg-c;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.container {
  width: 1170px;
  margin: 0 auto;
  .nav {
    font-size: 0;
    padding: 2rem 0;
    &__logo{
      width: 35px;
      display: inline-block;
      vertical-align: middle;
      img{
        width: 100%;
      }
    }
    &__menu{
      padding: 0;
      width: calc(100% - 35px);
      font-size: 1.4rem;
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      font-weight: 600;
      &--list{
        display: inline-block;
        padding: 10px;
        a{
          text-transform: uppercase;
          text-decoration: none;
          display: inline-block;
          padding: 0 20px;
          color: #ffffff;
          &:hover,
          &:focus,
          &:active{
            color: $text-col-hover;
          }
        }
        &.active a{
          color: $text-col-hover;
        }
      }
    }
  }
}
.section{
  height: 100vh;
  &-bg {
    display: block;
    width: 100%;
    background-image: linear-gradient(to top, #041121 0%, transparent 600%), url(../img/bg-i1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.content {
  height: inherit;
  display: flex;
  padding-top: 315px;
  justify-content: space-between;
  align-items: flex-start;
  &__img {
    width: 470px;
    height: 550px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

}






